---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<form id="contact">
			<div class="col-12 col-md-6 mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Nome: <span class="obrigatorio">*</span></label>
			  <input name="nome" type="text" class="form-control" id="exampleFormControlInput1" required>
			</div>
			<div class="col-12 col-md-6 mb-3">
			  <label for="exampleFormControlInput2" class="form-label">E-mail: <span class="obrigatorio">*</span></label> 
			  <input name="email" type="email" class="form-control" id="exampleFormControlInput2" required>
			</div>
			<div class="col-12 col-md-6 mb-3">
			  <label for="exampleFormControlInput3" class="form-label">Telefone: <span class="obrigatorio">*</span></label>
			  <input name="telefone" type="tel" class="form-control" id="exampleFormControlInput3" required>
			</div>
			<div class="col-12 col-md-6 mb-3">
			  <label for="exampleFormControlInput4" class="form-label">Assunto: </label>
			  <input name="assunto" type="text" class="form-control" id="exampleFormControlInput4">
			</div>
			<div class="col-12 col-md-8 mb-3">
			  <label for="exampleFormControlTextarea1" class="form-label">Mensagem: <span class="obrigatorio">*</span></label>
			  <textarea name="mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
			</div>
			<span id="load-spinner" class="loader me-2 visually-hidden" aria-hidden="true"></span>
			<button type="submit" class="btn btn-form py-2 px-3">
				<span id="button-text" role="status">Enviar</span>
			</button>
		</form>
	</main>
</Layout>


<script>

	var form = document.getElementById("contact");

	if (!form) throw new Error("Formulário não existe!");
	
	form.addEventListener("submit", ajaxpost);

	function ajaxpost(event) {
		event.preventDefault();

		var data = new FormData(form);

		var dataJson = {}
		data.forEach((value, key) => dataJson[key] = value);
		var json = JSON.stringify(dataJson);


		console.log(data.get("nome"));
		
		fetch("http://localhost:4321/api/contato/",
		{ method:"POST", body: json, headers: {"Content-Type": "application/json"} })
		.then(res => res.json())
		.then(response => {
			console.log(response)
			if (response.result == "success") {

				console.log("funcionou cara de tatu") 
			}
		}).catch(err => {

			console.error(err);

		});
		return false;
	}
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
