---
const password = Astro.url.searchParams.get('pass');
const authenticated = password == import.meta.env.MY_PASSWORD;

if (!authenticated)
	return Astro.redirect("/404");
---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <meta name="description" property="og:description" content={description}> -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="icon" href="https://www.nad-edu.com.br/_astro/icon-192.e0b72ef9.webp" sizes="192x192">


        <!-- <meta property="og:image" content={SITE_URL + ogImage}>
        <link rel="icon" href={icon} sizes="192x192"> -->
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
		<title>Gere seu QR code para o congresso</title>

	</head>
	<body>

        <div class="d-flex justify-content-center align-items-center py-5">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-12 col-sm-6 col-lg-4 mx-auto text-start mt-2 mt-md-0">

                        <div class="text-center">
                            <p class="error-text text-danger fw-semibold mb-4 visually-hidden" style="font-size: 16px;"> CPF não está na lista de inscritos! </p>
                        </div>

                        <div class="text-center">
                            <p class="error-text text-danger fw-semibold mb-4" style="font-size: 16px;"> Informe seus gastos: </p>
                        </div>

                        <form id="cpf">
                            <div class="col-12 col-md-10 mb-3">
                                <label for="exampleFormControlInput3" class="form-label fw-bold">Senha: <span class="text-danger">*</span></label>
                                <input name="pass" type="password" class="form-control" id="exampleFormControlInput3" required>
                                <div id="cpfHelp" class="form-text fw-medium">Digite apenas números.</div>
                                <div id="cpfInvalido" class="form-text text-danger fw-semibold visually-hidden" style="font-size: 12px;">CPF inválido, todos os dígitos estão corretos?</div>
                            </div>
                            <span class="load-spinner loader me-2 visually-hidden" aria-hidden="true"></span>
                            <button type="submit" class="btn btn-dark btn-form py-2 px-3">
                                <span class="button-text" role="status">Enviar</span>
                                <span class="visually-hidden load-text" role="status">Consultando...</span>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            window.onload = () => {
                const form = document.getElementById("cpf") as HTMLFormElement;

                form.addEventListener('submit',	handleSubmit);

                function toggleLoad(form){
                    form.querySelector(`.load-spinner`).classList.toggle("visually-hidden");
                    form.querySelector(`.load-text`).classList.toggle("visually-hidden");
                    form.querySelector(`.button-text`).classList.toggle("visually-hidden");
                }

				function handleSubmit(event) {
					event.preventDefault();
                    toggleLoad(form);

					var data = new FormData(form);

					fetch(window.location.protocol + "//" + window.location.host + "/api/login", 
                    { method:"POST", body:JSON.stringify({pass: data.get("pass")}), headers: {"Content-Type": "application/json"}})
                    .then(res => res.json())
                    .then(response => {
						console.log(response.message)
					});
				}

                // function showMessage(success) {
                    
                //     if (success) { handleSuccess(form) }

                //     else { 
                //         toggleLoad(form);
                //         form.querySelector("#cpfHelp").classList.toggle("visually-hidden");
                //         form.querySelector("#cpfInvalido").classList.toggle("visually-hidden");
                //         setTimeout(() => {
                //             form.querySelector("#cpfHelp").classList.toggle("visually-hidden");
                //             form.querySelector("#cpfInvalido").classList.toggle("visually-hidden");
                //         }, 7000);
                //     }
                // }
			};

                
        </script>
        
        <style>

            body {
                font-family: Montserrat, sans-serif;
            }

            #navbar-logo {
                width: 200px;
                height: auto;
            }

            .loader {
                display: inline-block;
                border: 3px solid #333;
                border-top: 3px solid transparent;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                animation: spin 1s linear infinite;
            }
        
            .success-message, .fail-message {
                padding: 20px;
                font-weight: 500;
                font-size: 15px;
                background: #e0ffc7;
                border: 1px solid #b4d39b;
            }
        
            .fail-message {
                background: #ffd7c7;
                border: 1px solid #d39b9b;
            }

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>        

    </body>

</html>


<script>

	var form: HTMLElement = document.getElementById("contact");

	if (!form) throw new Error("Formulário não existe!");
	
	form.addEventListener("submit", ajaxpost);

	function ajaxpost(event: Event) {
		event.preventDefault();

		var data = new FormData(form as HTMLFormElement);

		var dataJson: any = {}
		data.forEach((value, key) => dataJson[key] = value);
		var json = JSON.stringify(dataJson);


		console.log(data.get("nome"));
		
		fetch(window.location.protocol + "//" + window.location.host + "/api/contato",
		{ method:"POST", body: json, headers: {"Content-Type": "application/json"} })
		.then(res => res.json())
		.then(response => {
			console.log(response)
			if (response.result == "success") {

				console.log("funcionou cara de tatu") 
			}
		}).catch(err => {

			console.error(err);

		});
		return false;
	}
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
