---
import { XataClient } from "../xata";
const password = Astro.url.searchParams.get('pass');
const authenticated = password == import.meta.env.MY_PASSWORD;

if (!authenticated)
	return Astro.redirect("/404");

const client = new XataClient({
    apiKey: import.meta.env.XATA_API_KEY,
    branch: import.meta.env.XATA_BRANCH
});

const categories = await client.db.categories.getAll();

---

<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <meta name="description" property="og:description" content={description}> -->

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- <meta property="og:image" content={SITE_URL + ogImage}>
        <link rel="icon" href={icon} sizes="192x192"> -->
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        
		<title>Expense Tracker</title>

	</head>
	<body>

        <div class="d-flex justify-content-center align-items-center py-5">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center mt-2">
                    <div class="col-12 col-sm-6 col-lg-4 mx-auto text-start mt-2 mt-md-0">

                        <div class="head-title text-center text-sm-start">
                            <p class="fw-bold mb-5" style="font-size: 30px;"> Expense Tracker </p>
                        </div>

                        <div class="isthatyou text-center text-sm-start">
                            <p class="fw-semibold mb-4" style="font-size: 18px;"> Informe seus gastos: </p>
                        </div>

                        <form id="expense">
                            <div class="col-12 col-md-10 mb-3">
                                <label for="selectCategory" class="form-label fw-bold">Qual categoria? <span class="text-danger">*</span></label>
                                <select 
                                id="select"
                                name="selectCategory"
                                class="form-select" 
                                onchange="typeAnotherCategory(this)" 
                                aria-label="Default select example"
                                required>
                                    <option selected>Selecione</option>
                                    {categories.map((c, index) => (
                                        <option value={index}>{c.category}</option>
                                    ))}
                                    <option value="outro">Adicionar categoria</option>
                                </select>
                                <label for="outro" id="outraCatergoriaLabel" class="form-label fw-bold mt-3" style="display: none">Adicione a nova categoria: <span class="text-danger">*</span></label>
                                <input name="outro" type="text" class="form-control" style="display: none" id="outraCatergoria">
                            </div>
                            <div class="col-12 col-md-10 mb-3">
                                <label for="exampleFormControlInput3" class="form-label fw-bold">Informe o preço: <span class="text-danger">*</span></label>
                                <input name="price" type="number" step="0.01" class="form-control" id="exampleFormControlInput3" required>
                                <div id="sucesso" class="mt-3 form-text text-light text-center fw-semibold visually-hidden" style="font-size: 18px;">Sucesso!</div>
                                <div id="falha" class="mt-3 form-text text-danger text-center fw-semibold visually-hidden" style="font-size: 18px;">Falha!</div>
                            </div>
                            <span class="load-spinner loader me-2 visually-hidden" aria-hidden="true"></span>
                            <button type="submit" class="btn btn-dark btn-form py-2 px-3">
                                <span class="button-text fw-semibold" role="status">Enviar</span>
                                <span class="visually-hidden load-text fw-semibold" role="status">Consultando...</span>
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <script is:inline>
            function typeAnotherCategory(that) {
                if (that.value == "outro") {
                    document.getElementById("outraCatergoriaLabel").style.display = "block";
                    document.getElementById("outraCatergoria").style.display = "block";
                } else {
                    document.getElementById("outraCatergoriaLabel").style.display = "none";
                    document.getElementById("outraCatergoria").style.display = "none";
                }
            }

            window.onload = () => {
                const form = document.getElementById("expense");

                form.addEventListener('submit',	handleSubmit);

                function toggleLoad(form){
                    form.querySelector(`.load-spinner`).classList.toggle("visually-hidden");
                    form.querySelector(`.load-text`).classList.toggle("visually-hidden");
                    form.querySelector(`.button-text`).classList.toggle("visually-hidden");
                }

				function handleSubmit(event) {
					event.preventDefault();
                    toggleLoad(form);

					var data = new FormData(form);
                    var outraCategoria = '';
                    var selectedText = '';

                    var dataObj = {};
                    data.forEach(function(value, key){
                        dataObj[key] = value;
                    });

                    var select = document.getElementById("select");
                    if (select.value == "outro") {
                        outraCategoria = dataObj['outro'];
                    } else {
                        selectedText = select.options[select.selectedIndex].text;
                    }
                    
                    console.log(dataObj)
                    console.log(selectedText)

					fetch(window.location.protocol + "//" + window.location.host + "/api/contato", 
                    { method:"POST", body:JSON.stringify({price: dataObj['price'], selectedText: selectedText, outraCategoria: outraCategoria}), headers: {"Content-Type": "application/json"}})
                    .then(res => res.json())
                    .then(response => {
						if (response.message == "success") {
                            form.reset();
                            showMessage(true);
						} else {
                            showMessage(false);
                        }
					}).catch(e => {
                        showMessage(false);
                    })
				}

                function showMessage(success) {
                    toggleLoad(form);
                    if (success) {
                        form.querySelector("#sucesso").classList.toggle("visually-hidden");
                        setTimeout(() => {
                            form.querySelector("#sucesso").classList.toggle("visually-hidden");
                        }, 7000);
                    } else {
                        form.querySelector("#falha").classList.toggle("visually-hidden");
                        setTimeout(() => {
                            form.querySelector("#falha").classList.toggle("visually-hidden");
                        }, 7000);
                    }
                }
			};

                
        </script>
        
        <style>

            body {
                font-family: Montserrat, sans-serif;
                background-color: #1d040d;
                color: #e0ffc7;
            }

            #navbar-logo {
                width: 200px;
                height: auto;
            }

            .loader {
                display: inline-block;
                border: 3px solid #333;
                border-top: 3px solid transparent;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                animation: spin 1s linear infinite;
            }
    

            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        </style>        

    </body>

</html>


<script>

	var form: HTMLElement = document.getElementById("contact");

	if (!form) throw new Error("Formulário não existe!");
	
	form.addEventListener("submit", ajaxpost);

	function ajaxpost(event: Event) {
		event.preventDefault();

		var data = new FormData(form as HTMLFormElement);

		var dataJson: any = {}
		data.forEach((value, key) => dataJson[key] = value);
		var json = JSON.stringify(dataJson);


		console.log(data.get("nome"));
		
		fetch(window.location.protocol + "//" + window.location.host + "/api/contato",
		{ method:"POST", body: json, headers: {"Content-Type": "application/json"} })
		.then(res => res.json())
		.then(response => {
			console.log(response)
			if (response.result == "success") {

				console.log("funcionou cara de tatu") 
			}
		}).catch(err => {

			console.error(err);

		});
		return false;
	}
</script>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
